// black       800
// bold        700
// semibold    600
// medium      500
// regular     400

// https://web.dev/blog/viewport-units
// inof on responsive phone units like DVH

@font-face {
    font-family: 'kameron';
    src: url('../fonts/Kameron-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('..//fonts//Inter-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Black.ttf') format('woff2');
    font-weight: 800;
    font-style: normal;
}

// georgia
@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgia.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'georgia';
    src: url('../fonts/b.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgiai.ttf') format('ttf');
    font-weight: 400;
    font-style: otalic;
}
@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgiaz.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}
 
// COLORS

@brand: #0F6130; // #245EB5;
@text: #656565;
@grey: #888381; 
@grey10: #D8D1C3;
@grey20: #E8E1D1;
@grey30: #F3EDDE;

:root {
    --brand: #0F6130;//  #245EB5;
    --text: #656565;
    --grey: #888381;
    --grey10: #D8D1C3;
    --grey20: #E8E1D1;
    --grey30: #F3EDDE;
}

.title { font-family: kameron; font-size: 28px; font-weight: 700; line-height: 114%; text-transform: normal; }
.button { font-size: 20px; font-weight: 500; line-height: 150%; }
.numbers { font-family: inter; font-size: 24px; font-weight: 700; line-height: 96%; }
.listing { font-family: inter; font-size: 17px; font-weight: 400; line-height: 147%; }
.listingBold { font-family: inter; font-size: 17px; font-weight: 600; line-height: 147%; }
.small { font-family: inter; font-size: 14px; font-weight: 500; line-height: 147%; }
.meta { font-family: inter; font-size: 12px; line-height: 194%; font-weight: 600; text-transform: uppercase; }



// STUPID PHNOE TESTING TRASH

.phone { 
    display: inline-block; 
    vertical-align: top;
}

.testFrame {
    iframe { 
        border: 0;
        width: 100%;
        height: 100%;
     }
}

#iphone6-7-8 {
    
    height: 736px;
    width: 414px;
    padding: 107px 28px 111px 26px;
    position: relative;
    background-color: green;

    &::after {
        display: block;
        content: "";
        background: url("../img/frame-iphone6-7-8.png") no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}


#iphone14-pro-max {
    
    height: 932px;
    width: 430px;
    padding: 18px 23px 21px 22px;
    position: relative;
    background-color: green;

    &::after {
        display: block;
        content: "";
        background: url("../img/frame-iphone14-max-pro.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}

// /phones


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

body { 
    background: #2E2E2E; 
    color: var(--text); 
    font-family: georgia; 
    font-size: 18px;
    font-weight: 400; line-height: 1.35em; 
    margin: 0;
    padding: 0;
    position: relative;
}

body * { user-select: none; }

p { margin: 0 0 18px 0; }

.buttonPrimary { 
    background: var(--brand);
    border-radius: 31px;
    border: 0;
    color: var(--grey30);
    display: block;
    padding: 7px 8px;
    text-align: center;
    line-height: 1.8em;
}
.buttonSecondary { 
    border: 3px solid var(--brand);
    border-radius: 31px; 
    color: var(--brand);
    display: block;
    padding: 7px 8px;
    text-align: center;
}

.toggle {
    background-color: var(--grey20);
    border-radius: 40px; 
    display: flex;
    font-family: inter; 
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 8px;
    position: relative;
    z-index: 3;

    .buttonPrimary { 
        background-color: transparent;
        border: none;
        color: var(--text);
        flex: 1 1 0px;
        position: relative;
        z-index: 1;
     }

     &::after {
        background-color: var(--grey10);
        border-radius: 31px; 
        content: "";
        display: block;
        left: 8px;
        position: absolute;
        width: ~"calc(50% - 4px)";
        height: ~"calc(100% - 16px)";
        transition: .2s all;
        z-index: 0;
     }
}

.toggle.toggled {
    &::after {
        left: ~"calc(50% - 4px)";
    }
}

// SLIDER +++++++++++++++++++++++++++++++++++++++++

.slidecontainer {
    margin-bottom: 12px;
    position: relative;
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 23px;
    background: var(--grey20);
    outline: none;
    -webkit-transition: .2s;

  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    //background: var(--brand);
    border: 5px solid var(--brand);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    //background: var(--brand);
    cursor: pointer;
  }

  #sliderCounter,
  #dealSliderCounter,
  #bankSliderCounter,
  #loanSliderCounter {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    white-space: nowrap;

    //position: absolute;
    //top: 30px; /* Adjust to position below the slider */
    white-space: nowrap; /* Prevents text from wrapping */
    //transform: translateX(-50%);
  }


a { text-decoration: none; }

h1, h2, h3, h4, h5 { margin: 0; }

.container { 
    background: var(--grey30);
    max-height: 100%;
    margin: 0 auto;
    //overflow: hidden;
    padding: 67px 24px 29px 24px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;

    transform: translateX(0);
    transition: transform 1s linear;
}


// OVERLAYS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.dark { 
    background-color: rgba(0, 0, 0, .35);
    left: 0;
    height: 100%;
    opacity: 0;
    //pointer-events: none;
    position: absolute !important; 
    top: 0;
    transition: .2s opacity; 
    width: 0;
    z-index: 2;
}
.showMessage .dark,
.showTravel .dark,
.showDeal .dark,
.showLoanShark .dark,
.showBank .dark,
.showSettings .dark { 
    background-color: rgba(0, 0, 0, .35);
    left: 0;
    height: 100%;
    opacity: 1;
    position: absolute; 
    top: 0;
    width: 100%;
}

.overlay {
    background: var(--grey30); 
    border-radius: 44px 44px 0 0;
    box-sizing: border-box;
    bottom: -665px;
    left: 0;
    height: 665px;
    overflow: hidden;
    padding: 32px 24px 44px 24px;
    position: absolute;
    transition: .2s bottom;
    width: 100%;
    z-index: 3;

    .circle {
        aspect-ratio: ~"1/1";
        border-radius: 300px;
        background: var(--brand); 
        -moz-border-radius: 300px; 
        -webkit-border-radius: 300px; 
        left: 50%;
        opacity: .21;
        position: absolute;
        top: 13%;
        transform: translateX(-50%);
        width: 58.72%;
    }

    .topBar { 
        align-items: flex-start;
        margin-bottom: 245px;

        .drugInfo { 
            text-align: right; 
            .purchase { margin-top: 12px; }
        }
    } // topBar

    .resources {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;

        .capacityDisplay { text-align: right; }
    }
}
.showDeal .deal { bottom: 0; } // duplicate this
.showTravel .travel { 
    bottom: 0;     
    .topBar { margin-bottom: 226px; }
} // duplicate this

.showLoanShark .loanShark { 
    bottom: 0; 
    
    .topBar { margin-bottom: 313px; }
} // duplicate this

.showBank .bank { 
    bottom: 0; 
    
    .topBar { margin-bottom: 305px; }
} // duplicate this


.showSettings .settings { 
    bottom: 0; 
    text-align: left;
    
    .topBar { margin-bottom: 26px; }
} // duplicate this



// PAGES +++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Intro +++++++++++++++++++++++++

.intro { text-align: center; }
.intro .container {
    background-color: var(--brand);   
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

    &::before {
        background-color: var(--brand);
        background-color: transparent;
        background: url(../img/coverArt.png) no-repeat center;
        height: 488px;
        top: 27.3vh;

    }
    
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        &::before {
            background-image: url('../img/coverArt@2x.png');
            background-size: 97%; 
        }
    }

    &::after {
    mix-blend-mode: difference;
    opacity: .21;
    pointer-events: none;
    }

    // #linkHighScores {
    //     background: url(../img/iconHighScores.svg);
    //     display: block;
    //     height: 26px;
    //     position: absolute;
    //     top: 50px;
    //     right: 24px;
    //     width: 26px;
    // }

    
    #buttonSettings {
        background: url(../img/iconSettings.svg) center no-repeat;
        height: 21px;
        width: 21px;
        display: block;
        position: absolute;
        top: 56px;
        right: 26px;

    }

    #highScore {
        color: var(--grey30);
        margin-bottom: 30px;;

        span { font-weight: bold; }
    }

    #introBottom {
        .button { background-color: var(--grey30); color: var(--brand); }
        .buttonSecondary {background-color: var(--brand); border: 3px solid var(--grey30); color: var(--grey30); }
    }
}

//.intro .container > div { position: relative; z-index: 2; }
.splash {
    color: var(--grey30); 
    display: inline-block;
    font-family: kameron;
    font-size: 59.66px;
    font-weight: 800;
    margin: 30px auto 0 auto;
    text-align: center;
    text-transform: uppercase;

    .wars { font-size: 51.76px; line-height: 68px; }
    div { 
        background-color: var(--grey30); 
        color: var(--brand);
        font-size: 27px;
        font-weight: 700;
        padding: 4px 0 3px 0;
        letter-spacing: 27px;
        margin-top: -8px;
    }
    span { letter-spacing: 3px; }

} // splash


.locationTop::after {
    background: url(../img/iconShamrock.svg) center no-repeat;
    height: 19px;
    width: 15px;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    top: 37px;
    left: 0;
    transition: opacity .3s;
}

.shamrock .locationTop::after {
    opacity: 1;
}


.topBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    position: relative;
    z-index: 3;

    //margin-bottom: 300px;

    .day { 
        .meta { 
            //color: var(--grey); 
            display: inline-block; 
        } // meta
        .daysLeft {  
            display: inline-block;

            .dayCurrent { font-size: 33px; font-weight: 500; font-family: inter; }
            .daySlash { font-size: 24px; font-weight: 500; font-family: inter; }
            .dayLast { font-size: 17px; font-weight: 500; font-family: inter; }
        }
    } // days
} // topBar

.moneyStatus {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 13px;
    position: relative;
    z-index: 1;

    .bank { margin-top: 12px; }

    .debt .meta { text-align: right; }

} // moneyStatus


// drugs / locations
.drugTable, .locationTable {
    background-color: var(--grey20);
    border-radius: 20px;
    margin: 0 0 16px 0;
    position: relative;
    z-index: 1;

    .drug, .location { 
        background: url("../img/iconArrow.svg") no-repeat right 11px center;
        border-bottom: 1px solid var(--grey10);
        display: flex;
        gap: 8px;
        align-items: baseline;
        padding: 8px 43px 6px 15px;

        .amount { color: var(--text); width: 27px; }
        .drugName { color: var(--brand); width: 150px; }
        .city { 
            pointer-events: none;
            color: var(--brand); 
            width: auto; 

            .special { color: var(--grey) }
        }
        .graph { 
            height: 24px;
            position: relative;
            top: 5px;
            display: flex;    
            align-items: flex-end;

            .bar { 
                background-color: var(--brand); 
                height: 100%; 
                width: 2px; 
                margin-right: 3px;
            }
            .graph0 { height: 6%; } // 2% just to be able to see something
            .graph1 { height: 13%; }
            .graph2 { height: 22%; }
            .graph3 { height: 32%; }
            .graph4 { height: 42%; }
            .graph5 { height: 52%; }
            .graph6 { height: 62%; }
            .graph7 { height: 72%; }
            .graph8 { height: 82%; }
            .graph9 { height: 92%; }
            .graph10 { height: 100%; } 
        }
        .price { color: var(--text); flex-grow: 1; text-align: right; }
    }

    .location.disabledCity .city { color: var(--grey); }
    .drug.disabled { 
        background-image: url("../img/iconArrowDisabled.svg"); 
        * { color: var(--grey); }

        .bar { background-color: var(--grey);; }
    }
    .drug:last-child, .location:last-child { 
        border-bottom: 0;
        padding-bottom: 10px;
     }
} // drugTable

.actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 1;
    
    a {
        flex: 1 1 0px;
        font-family: inter;
        min-width: 0;
        white-space: nowrap;
    }
    
}



// BACKGROUNDS
// Locations


.container:after {
    background: url("../img/grit.png");
    mix-blend-mode: exclusion;
    background-size: cover;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    opacity: .2;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../img/grit@2x.png');
    }
}
.container:before {
    background-color: var(--grey30);
    background-blend-mode: multiply;
    background-size: 448px auto;
    background-position: center bottom;
    background-repeat: no-repeat; 
    
    content: "";
    display: block;
    left: 0;
    height: 430px;
    opacity: .85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


// boston
.bos .container:before { 
    background-image: url('../img/bgBoston.png');
    background-size: 100%;
    background-position: center bottom 25px;
 }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bos .container:before {
        background-image: url('../img/bgBoston@2x.png');
    }
}
// dallas
.dal .container:before { 
    background-image: url('../img/bgDallas.png'); 
    background-size: 100%;
    background-position: center bottom 21px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .dal .container:before {
        background-image: url('../img/bgDallas@2x.png');
    }
}
// los angeles
.los .container:before { 
    background-image: url('../img/bgLA.png'); 
    background-size: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .los .container:before {
        background-image: url('../img/bgLA@2x.png');
    }
}
// manhattan
.man .container:before { 
    background-image: url('../img/bgManhattan.png'); 
    background-size: 100%;
    background-position-y: 99px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .man .container:before {
        background-image: url('../img/bgManhattan@2x.png');
    }
}
// miami
.mia .container:before { 
    background-image: url('../img/bgMiami.png'); 
    background-size: 100%;
    background-position-y: 90px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mia .container:before {
        background-image: url('../img/bgMiami@2x.png');
    }
}
// philly
.phi .container:before { 
    background-image: url('../img/bgPhilly.png'); 
    background-position: center bottom 25px; 
    background-size: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .phi .container:before {
        background-image: url('../img/bgPhilly@2x.png');
    }
}
// telluride
.tel .container:before { 
    background-image: url('../img/bgTelluride.png'); 
    background-size: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .tel .container:before {
        background-image: url('../img/bgTelluride@2x.png');
    }
} 

// Drugs

.overlay.deal:before,
.overlay.loanShark:before,
.overlay.travel:before,
.overlay.bank:before {
    //background-color: var(--grey30);
    //background-blend-mode: multiply;
    //background-size: 448px auto;  // 448px auto
    background-position: center bottom 30px;
    background-repeat: no-repeat; 
    background-size: 100%;
    
    content: "";
    display: block;
    left: 0;
    height: 430px;
    opacity: .85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

// acid
.overlay.deal.acid:before {  background-image: url('../img/bgAcid.png'); background-position: center bottom 35px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .overlay.deal.acid:before {
            background-image: url('../img/bgAcid@2x.png');
        }
}
// cocaine
.overlay.deal.cocaine:before {  background-image: url('../img/bgCocaine.png'); background-position: center bottom 53px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.deal.cocaine:before {
        background-image: url('../img/bgCocaine@2x.png');
    }
}

// crystal meth
.overlay.deal.meth:before {  background-image: url('../img/bgCrystalMeth.png'); background-position: center bottom 66px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.deal.meth:before {
        background-image: url('../img/bgCrystalMeth@2x.png');
    }
}

// heroin
.overlay.deal.heroin:before {  background-image: url('../img/bgHeroin.png'); background-position: center bottom 69px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.deal.heroin:before {
        background-image: url('../img/bgHeroin@2x.png');
    }
}
// pcp
.overlay.deal.pcp:before {  background-image: url('../img/bgPCP.png'); background-position: center bottom 56px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.deal.pcp:before {
        background-image: url('../img/bgPCP@2x.png');
    }
}
// valium
.overlay.deal.valium:before {  background-image: url('../img/bgValium.png'); background-position: center bottom 44px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.deal.valium:before {
        background-image: url('../img/bgValium@2x.png');
    }
}

// weed
.overlay.deal.weed:before {  background-image: url('../img/bgWeed.png'); background-position: center bottom 64px; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.deal.weed:before {
        background-image: url('../img/bgWeed@2x.png');
    }
}

 
// loanShark
.overlay.loanShark:before {  background-image: url('../img/bgLoanShark.png'); background-position: center bottom 91px;  background-size: 93%; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.loanShark:before {
        background-image: url('../img/bgLoanShark@2x.png');
    }
}

// travel
.overlay.travel:before {  background-image: url('../img/bgTravel.png'); background-position: center bottom 137px;  background-size: 447px auto; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.travel:before {
        background-image: url('../img/bgTravel@2x.png');
    }
}

// Bank
.overlay.bank:before {  background-image: url('../img/bgBank.png'); background-position: center bottom 49px;  background-size: 447px auto; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay.bank:before {
        background-image: url('../img/bgBank@2x.png');
    }
}





// Popups ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.popup {
    background: var(--grey30);
    border-radius: 40px;
    display: none;
    padding: 26px;
    width: ~'calc(100% - 48px)';
    box-sizing: border-box;
    z-index: 3;
}

.showMessage .popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    h1 { margin-bottom: 18px; }
    h1 .arrow { 
        color: var(--brand);    
        font-size: 22px;
        position: relative;
        top: -5px; }
}

.popup.art #messageBody::before {
    content: "";
    display: block;
    margin: 10px -26px 10px -26px;
    opacity: .8;
}

.popup #messageBody span { 
    color: var(--brand);
 }

// jumped
.popup.art.jumped #messageBody::before {
    background: url("../img/eventJumped.png") no-repeat;
    background-size: 100%;
    height: 300px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventJumped@2X.png"); }
}

// shakedown
.popup.art.shakedown #messageBody::before {
    background: url("../img/eventFrisk.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 300px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventFrisk@2X.png"); }
}

// package
.popup.art.package #messageBody::before {
    background: url("../img/eventPackage.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 300px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventPackage@2X.png"); }
}

// stash
.popup.art.stash #messageBody::before {
    background: url("../img/eventStash.png") no-repeat;
    background-size: 100%;
    background-position-x: -21px;
    height: 300px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventStash@2X.png"); }
}

// buySetup
.popup.art.buySetup #messageBody::before {
    background: url("../img/eventBuySetup.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 300px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventBuySetup@2X.png"); }
}

// buySetupAttack
.popup.art.buySetupAttack #messageBody::before {
    background: url("../img/eventBuySetupAttack.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 300px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventBuySetupAttack@2X.png"); }
}

//buySetupSurrender
.popup.art.buySetupSurrender #messageBody::before {
    background: url("../img/eventBuySetupSurrender.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 254px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventBuySetupSurrender@2X.png"); }
}

//sellSetup
.popup.art.sellSetup #messageBody::before {
    background: url("../img/eventSellSetup.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -35px;
    height: 254px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventSellSetup@2X.png"); }
}

//sellSetupFlee
.popup.art.sellSetupFlee #messageBody::before {
    background: url("../img/eventSellSetupFlee.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -35px;
    height: 264px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventSellSetupFlee@2X.png"); }
}

//sellSetupSurrender
.popup.art.sellSetupSurrender #messageBody::before {
    background: url("../img/eventBuySetupSurrender.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 254px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventBuySetupSurrender@2X.png"); }
}

//loanReminder
.popup.art.loanReminder #messageBody::before {
    background: url("../img/eventLoanReminder.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -15px;
    height: 254px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventLoanReminder@2X.png"); }
}

//loanDeadline
.popup.art.loanDeadline #messageBody::before {
    background: url("../img/eventLoanDeadline.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 254px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventLoanDeadline@2X.png"); }
}
 
//shamrock
.popup.art.shamrock #messageBody::before {
    background: url("../img/eventShamrock.png") no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 254px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { background-image: url("../img/eventShamrock@2X.png"); }
} 






// TRANSIT 
#landscape {
    background: var(--grey30) url(../img/bgLandscape.png) center repeat-x;
    background-size: 132.09%;
    background-position: 0 calc(50% + 80px);
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-position 2s linear;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/bgLandscape@2x.png);
    }
}

#transit {
    height: 100%;
    width: 100%;
    background: url(../img/bgTransit.png) center no-repeat;
    background-size: 297.91%;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/bgTransit@2x.png);
    }

    overflow: hidden;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(100%);
    transition: transform 1s linear;
}

.fisherWatching {
    #landscape {
        background-image: url(../img/bgLandscapeFisher.png);
        //background-position-x: 40%;
        background-position-y: calc(50% + 60px);
        
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../img/bgLandscapeFisher@2x.png);
        }
    }

    #transit {
        background-image: url(../img/bgTransitFisher.png);
        
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../img/bgTransitFisher@2x.png);
        }
    }
}



// END GAME -------------------------------------------------------------------------------------------------------
#endScreen {
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    transition: opacity .3s;
    width: 100%;
    z-index: 3;

    background: var(--grey30);
    max-height: 100%;
    margin: 0 auto;
    //overflow: hidden;
    padding: 67px 24px 29px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;

    & > div { flex-grow: 0; }

    .topBar { margin-bottom: 18px;; }

    #art {
        background-position: center;
        background-repeat: no-repeat;
        flex-grow: 1;
        margin: 0 -24px;
        opacity: .85;
    }

    
    #totalEarnings { margin-bottom: 26px; }

    &:after {
        background: url("../img/grit.png");
        mix-blend-mode: exclusion;
        background-size: cover;
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        opacity: .2;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
    
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: url('../img/grit@2x.png');
        }
    }
}// #endScreen

.gameOver #endScreen {
    opacity: 1;
    pointer-events: all;
}

.endScreen.death #art {
    background-image: url(../img/endDead.png);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/endDead@2X.png);
    }
}
.endScreen.jail #art {
    background-image: url(../img/endJail.png);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/endJail@2X.png);
    }
}
.endScreen.broke #art {
    background-image: url(../img/endBroke.png);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/endBroke@2X.png);
    }
}

.endScreen.rich #art {
    background-image: url(../img/endRich.png);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/endRich@2X.png);
    }
}

.endScreen.recruit #art {
    background-image: url(../img/endRecruit.png);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(../img/endRecruit@2X.png);
    }
}


