@font-face {
  font-family: 'kameron';
  src: url('../fonts/Kameron-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('..//fonts//Inter-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-Black.ttf') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'georgia';
  src: url('../fonts/georgia.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'georgia';
  src: url('../fonts/b.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'georgia';
  src: url('../fonts/georgiai.ttf') format('ttf');
  font-weight: 400;
  font-style: otalic;
}
@font-face {
  font-family: 'georgia';
  src: url('../fonts/georgiaz.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}
:root {
  --brand: #0F6130;
  --text: #656565;
  --grey: #888381;
  --grey10: #D8D1C3;
  --grey20: #E8E1D1;
  --grey30: #F3EDDE;
}
.title {
  font-family: kameron;
  font-size: 28px;
  font-weight: 700;
  line-height: 114%;
  text-transform: normal;
}
.button {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.numbers {
  font-family: inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 96%;
}
.listing {
  font-family: inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 147%;
}
.listingBold {
  font-family: inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 147%;
}
.small {
  font-family: inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 147%;
}
.meta {
  font-family: inter;
  font-size: 12px;
  line-height: 194%;
  font-weight: 600;
  text-transform: uppercase;
}
.phone {
  display: inline-block;
  vertical-align: top;
}
.testFrame iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
#iphone6-7-8 {
  height: 736px;
  width: 414px;
  padding: 107px 28px 111px 26px;
  position: relative;
  background-color: green;
}
#iphone6-7-8::after {
  display: block;
  content: "";
  background: url("../img/frame-iphone6-7-8.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#iphone14-pro-max {
  height: 932px;
  width: 430px;
  padding: 18px 23px 21px 22px;
  position: relative;
  background-color: green;
}
#iphone14-pro-max::after {
  display: block;
  content: "";
  background: url("../img/frame-iphone14-max-pro.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
body {
  background: #2E2E2E;
  color: var(--text);
  font-family: georgia;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35em;
  margin: 0;
  padding: 0;
  position: relative;
}
body * {
  user-select: none;
}
p {
  margin: 0 0 18px 0;
}
.buttonPrimary {
  background: var(--brand);
  border-radius: 31px;
  border: 0;
  color: var(--grey30);
  display: block;
  padding: 7px 8px;
  text-align: center;
  line-height: 1.8em;
}
.buttonSecondary {
  border: 3px solid var(--brand);
  border-radius: 31px;
  color: var(--brand);
  display: block;
  padding: 7px 8px;
  text-align: center;
}
.toggle {
  background-color: var(--grey20);
  border-radius: 40px;
  display: flex;
  font-family: inter;
  justify-content: space-between;
  margin-bottom: 13px;
  padding: 8px;
  position: relative;
  z-index: 3;
}
.toggle .buttonPrimary {
  background-color: transparent;
  border: none;
  color: var(--text);
  flex: 1 1 0px;
  position: relative;
  z-index: 1;
}
.toggle::after {
  background-color: var(--grey10);
  border-radius: 31px;
  content: "";
  display: block;
  left: 8px;
  position: absolute;
  width: calc(50% - 4px);
  height: calc(100% - 16px);
  transition: 0.2s all;
  z-index: 0;
}
.toggle.toggled::after {
  left: calc(50% - 4px);
}
.slidecontainer {
  margin-bottom: 12px;
  position: relative;
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 23px;
  background: var(--grey20);
  outline: none;
  -webkit-transition: 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid var(--brand);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
#sliderCounter,
#dealSliderCounter,
#bankSliderCounter,
#loanSliderCounter {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  white-space: nowrap;
  /* Prevents text from wrapping */
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.container {
  background: var(--grey30);
  max-height: 100%;
  margin: 0 auto;
  padding: 67px 24px 29px 24px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  transform: translateX(0);
  transition: transform 1s linear;
}
.dark {
  background-color: rgba(0, 0, 0, 0.35);
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.2s opacity;
  width: 0;
  z-index: 2;
}
.showMessage .dark,
.showTravel .dark,
.showDeal .dark,
.showLoanShark .dark,
.showBank .dark {
  background-color: rgba(0, 0, 0, 0.35);
  left: 0;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
.overlay {
  background: var(--grey30);
  border-radius: 44px 44px 0 0;
  box-sizing: border-box;
  bottom: -665px;
  left: 0;
  height: 665px;
  overflow: hidden;
  padding: 32px 24px 44px 24px;
  position: absolute;
  transition: 0.2s bottom;
  width: 100%;
  z-index: 3;
}
.overlay .circle {
  aspect-ratio: 1/1;
  border-radius: 300px;
  background: var(--brand);
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  left: 50%;
  opacity: 0.21;
  position: absolute;
  top: 13%;
  transform: translateX(-50%);
  width: 58.72%;
}
.overlay .topBar {
  align-items: flex-start;
  margin-bottom: 245px;
}
.overlay .topBar .drugInfo {
  text-align: right;
}
.overlay .topBar .drugInfo .purchase {
  margin-top: 12px;
}
.overlay .resources {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.overlay .resources .capacityDisplay {
  text-align: right;
}
.showDeal .deal {
  bottom: 0;
}
.showTravel .travel {
  bottom: 0;
}
.showTravel .travel .topBar {
  margin-bottom: 226px;
}
.showLoanShark .loanShark {
  bottom: 0;
}
.showLoanShark .loanShark .topBar {
  margin-bottom: 313px;
}
.showBank .bank {
  bottom: 0;
}
.showBank .bank .topBar {
  margin-bottom: 305px;
}
.intro {
  text-align: center;
}
.intro .container {
  background-color: var(--brand);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro .container::before {
  background-color: var(--brand);
  background-color: transparent;
  background: url(../img/coverArt.png) no-repeat center;
  height: 488px;
  top: 27.3vh;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .intro .container::before {
    background-image: url('../img/coverArt@2x.png');
  }
}
.intro .container::after {
  mix-blend-mode: difference;
  opacity: 0.21;
  pointer-events: none;
}
.intro .container #highScore {
  color: var(--grey30);
  margin-bottom: 30px;
}
.intro .container #highScore span {
  font-weight: bold;
}
.intro .container .button {
  background-color: var(--grey30);
  color: var(--brand);
}
.intro .container .buttonSecondary {
  background-color: var(--brand);
  border: 3px solid var(--grey30);
  color: var(--grey30);
}
.intro .container > div {
  position: relative;
  z-index: 2;
}
.splash {
  color: var(--grey30);
  display: inline-block;
  font-family: kameron;
  font-size: 59.66px;
  font-weight: 800;
  margin: 30px auto 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.splash .wars {
  font-size: 51.76px;
  line-height: 68px;
}
.splash div {
  background-color: var(--grey30);
  color: var(--brand);
  font-size: 27px;
  font-weight: 700;
  padding: 4px 0 3px 0;
  letter-spacing: 27px;
  margin-top: -8px;
}
.splash span {
  letter-spacing: 3px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 3;
}
.topBar .day .meta {
  display: inline-block;
}
.topBar .day .daysLeft {
  display: inline-block;
}
.topBar .day .daysLeft .dayCurrent {
  font-size: 33px;
  font-weight: 500;
  font-family: inter;
}
.topBar .day .daysLeft .daySlash {
  font-size: 24px;
  font-weight: 500;
  font-family: inter;
}
.topBar .day .daysLeft .dayLast {
  font-size: 17px;
  font-weight: 500;
  font-family: inter;
}
.moneyStatus {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 13px;
  position: relative;
  z-index: 1;
}
.moneyStatus .bank {
  margin-top: 12px;
}
.moneyStatus .debt .meta {
  text-align: right;
}
.drugTable,
.locationTable {
  background-color: var(--grey20);
  border-radius: 20px;
  margin: 0 0 16px 0;
  position: relative;
  z-index: 1;
}
.drugTable .drug,
.locationTable .drug,
.drugTable .location,
.locationTable .location {
  background: url("../img/iconArrow.svg") no-repeat right 11px center;
  border-bottom: 1px solid var(--grey10);
  display: flex;
  gap: 8px;
  align-items: baseline;
  padding: 8px 43px 6px 15px;
}
.drugTable .drug .amount,
.locationTable .drug .amount,
.drugTable .location .amount,
.locationTable .location .amount {
  color: var(--text);
  width: 27px;
}
.drugTable .drug .drugName,
.locationTable .drug .drugName,
.drugTable .location .drugName,
.locationTable .location .drugName {
  color: var(--brand);
  width: 150px;
}
.drugTable .drug .city,
.locationTable .drug .city,
.drugTable .location .city,
.locationTable .location .city {
  color: var(--brand);
  width: auto;
}
.drugTable .drug .city .special,
.locationTable .drug .city .special,
.drugTable .location .city .special,
.locationTable .location .city .special {
  color: var(--grey);
}
.drugTable .drug .graph,
.locationTable .drug .graph,
.drugTable .location .graph,
.locationTable .location .graph {
  height: 24px;
  position: relative;
  top: 5px;
  display: flex;
  align-items: flex-end;
}
.drugTable .drug .graph .bar,
.locationTable .drug .graph .bar,
.drugTable .location .graph .bar,
.locationTable .location .graph .bar {
  background-color: var(--brand);
  height: 100%;
  width: 2px;
  margin-right: 3px;
}
.drugTable .drug .graph .under5,
.locationTable .drug .graph .under5,
.drugTable .location .graph .under5,
.locationTable .location .graph .under5 {
  height: 43%;
}
.drugTable .drug .graph .under4,
.locationTable .drug .graph .under4,
.drugTable .location .graph .under4,
.locationTable .location .graph .under4 {
  height: 13%;
}
.drugTable .drug .graph .under3,
.locationTable .drug .graph .under3,
.drugTable .location .graph .under3,
.locationTable .location .graph .under3 {
  height: 22%;
}
.drugTable .drug .graph .under2,
.locationTable .drug .graph .under2,
.drugTable .location .graph .under2,
.locationTable .location .graph .under2 {
  height: 32%;
}
.drugTable .drug .graph .under1,
.locationTable .drug .graph .under1,
.drugTable .location .graph .under1,
.locationTable .location .graph .under1 {
  height: 42%;
}
.drugTable .drug .graph .avg,
.locationTable .drug .graph .avg,
.drugTable .location .graph .avg,
.locationTable .location .graph .avg {
  height: 52%;
}
.drugTable .drug .graph .over1,
.locationTable .drug .graph .over1,
.drugTable .location .graph .over1,
.locationTable .location .graph .over1 {
  height: 62%;
}
.drugTable .drug .graph .over2,
.locationTable .drug .graph .over2,
.drugTable .location .graph .over2,
.locationTable .location .graph .over2 {
  height: 72%;
}
.drugTable .drug .graph .over3,
.locationTable .drug .graph .over3,
.drugTable .location .graph .over3,
.locationTable .location .graph .over3 {
  height: 82%;
}
.drugTable .drug .graph .over4,
.locationTable .drug .graph .over4,
.drugTable .location .graph .over4,
.locationTable .location .graph .over4 {
  height: 92%;
}
.drugTable .drug .graph .over5,
.locationTable .drug .graph .over5,
.drugTable .location .graph .over5,
.locationTable .location .graph .over5 {
  height: 100%;
}
.drugTable .drug .price,
.locationTable .drug .price,
.drugTable .location .price,
.locationTable .location .price {
  color: var(--text);
  flex-grow: 1;
  text-align: right;
}
.drugTable .drug.disabled,
.locationTable .drug.disabled {
  background-image: url("../img/iconArrowDisabled.svg");
}
.drugTable .drug.disabled *,
.locationTable .drug.disabled * {
  color: var(--grey);
}
.drugTable .drug.disabled .bar,
.locationTable .drug.disabled .bar {
  background-color: var(--grey);
}
.drugTable .drug:last-child,
.locationTable .drug:last-child,
.drugTable .location:last-child,
.locationTable .location:last-child {
  border-bottom: 0;
  padding-bottom: 10px;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.actions a {
  flex: 1 1 0px;
  font-family: inter;
  min-width: 0;
  white-space: nowrap;
}
.container:after {
  background: url("../img/grit.png");
  mix-blend-mode: exclusion;
  background-size: cover;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  opacity: 0.2;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container:after {
    background-image: url('../img/grit@2x.png');
  }
}
.container:before {
  background-color: var(--grey30);
  background-blend-mode: multiply;
  background-size: 448px auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  content: "";
  display: block;
  left: 0;
  height: 430px;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bos .container:before {
  background-image: url('../img/bgBoston.png');
  background-size: auto;
  background-position: center bottom 37px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bos .container:before {
    background-image: url('../img/bgBoston@2x.png');
  }
}
.dal .container:before {
  background-image: url('../img/bgDallas.png');
  background-size: auto;
  background-position: center bottom 21px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .dal .container:before {
    background-image: url('../img/bgDallas@2x.png');
  }
}
.los .container:before {
  background-image: url('../img/bgLA.png');
  background-size: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .los .container:before {
    background-image: url('../img/bgLA@2x.png');
  }
}
.man .container:before {
  background-image: url('../img/bgManhattan.png');
  background-size: auto;
  background-position-y: 99px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .man .container:before {
    background-image: url('../img/bgManhattan@2x.png');
  }
}
.mia .container:before {
  background-image: url('../img/bgMiami.png');
  background-size: auto;
  background-position-y: 90px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mia .container:before {
    background-image: url('../img/bgMiami@2x.png');
  }
}
.phi .container:before {
  background-image: url('../img/bgPhilly.png');
  background-position: center bottom 25px;
  background-size: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .phi .container:before {
    background-image: url('../img/bgPhilly@2x.png');
  }
}
.tor .container:before {
  background-image: url('../img/bgToronto.png');
  background-size: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .phi .container:before {
    background-image: url('../img/bgToronto@2x.png');
  }
}
.overlay.deal:before,
.overlay.loanShark:before,
.overlay.travel:before,
.overlay.bank:before {
  background-position: center bottom 30px;
  background-repeat: no-repeat;
  content: "";
  display: block;
  left: 0;
  height: 430px;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.overlay.deal.acid:before {
  background-image: url('../img/bgAcid.png');
  background-position: center bottom 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.acid:before {
    background-image: url('../img/bgAcid@2x.png');
  }
}
.overlay.deal.cocaine:before {
  background-image: url('../img/bgCocaine.png');
  background-position: center bottom 53px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.cocaine:before {
    background-image: url('../img/bgCocaine@2x.png');
  }
}
.overlay.deal.meth:before {
  background-image: url('../img/bgCrystalMeth.png');
  background-position: center bottom 66px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.meth:before {
    background-image: url('../img/bgCrystalMeth@2x.png');
  }
}
.overlay.deal.heroin:before {
  background-image: url('../img/bgHeroin.png');
  background-position: center bottom 69px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.heroin:before {
    background-image: url('../img/bgHeroin@2x.png');
  }
}
.overlay.deal.pcp:before {
  background-image: url('../img/bgPCP.png');
  background-position: center bottom 56px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.pcp:before {
    background-image: url('../img/bgPCP@2x.png');
  }
}
.overlay.deal.valium:before {
  background-image: url('../img/bgValium.png');
  background-position: center bottom 44px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.valium:before {
    background-image: url('../img/bgValium@2x.png');
  }
}
.overlay.deal.weed:before {
  background-image: url('../img/bgWeed.png');
  background-position: center bottom 64px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.deal.weed:before {
    background-image: url('../img/bgWeed@2x.png');
  }
}
.overlay.loanShark:before {
  background-image: url('../img/bgLoanShark.png');
  background-position: center bottom 91px;
  background-size: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.loanShark:before {
    background-image: url('../img/bgLoanShark@2x.png');
  }
}
.overlay.travel:before {
  background-image: url('../img/bgTravel.png');
  background-position: center bottom 137px;
  background-size: 447px auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.travel:before {
    background-image: url('../img/bgTravel@2x.png');
  }
}
.overlay.bank:before {
  background-image: url('../img/bgBank.png');
  background-position: center bottom 64px;
  background-size: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .overlay.travel:before {
    background-image: url('../img/bgBank@2x.png');
  }
}
.popup {
  background: var(--grey30);
  border-radius: 40px;
  display: none;
  padding: 26px;
  width: calc(100% - 48px);
  box-sizing: border-box;
  z-index: 3;
}
.showMessage .popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup.art #messageBody::before {
  content: "";
  display: block;
  margin: 10px -26px 10px -26px;
  opacity: 0.8;
}
.popup #messageBody span {
  color: var(--brand);
}
.popup.art.jumped #messageBody::before {
  background: url("../img/eventJumped.png") no-repeat;
  height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.jumped #messageBody::before {
    background-image: url("../img/eventJumped@2X.png");
  }
}
.popup.art.shakedown #messageBody::before {
  background: url("../img/eventFrisk.png") no-repeat;
  background-position-x: center;
  height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.shakedown #messageBody::before {
    background-image: url("../img/eventFrisk@2X.png");
  }
}
.popup.art.package #messageBody::before {
  background: url("../img/eventPackage.png") no-repeat;
  background-position-x: center;
  height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.package #messageBody::before {
    background-image: url("../img/eventPackage@2X.png");
  }
}
.popup.art.stash #messageBody::before {
  background: url("../img/eventStash.png") no-repeat;
  background-position-x: -21px;
  height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.stash #messageBody::before {
    background-image: url("../img/eventStash@2X.png");
  }
}
.popup.art.buySetup #messageBody::before {
  background: url("../img/eventBuySetup.png") no-repeat;
  background-position-x: center;
  height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.buySetup #messageBody::before {
    background-image: url("../img/eventBuySetup@2X.png");
  }
}
.popup.art.buySetupAttack #messageBody::before {
  background: url("../img/eventBuySetupAttack.png") no-repeat;
  background-position-x: center;
  height: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.buySetupAttack #messageBody::before {
    background-image: url("../img/eventBuySetupAttack@2X.png");
  }
}
.popup.art.buySetupSurrender #messageBody::before {
  background: url("../img/eventBuySetupSurrender.png") no-repeat;
  background-position-x: center;
  height: 254px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.buySetupSurrender #messageBody::before {
    background-image: url("../img/eventBuySetupSurrender@2X.png");
  }
}
.popup.art.sellSetup #messageBody::before {
  background: url("../img/eventSellSetup.png") no-repeat;
  background-position-x: center;
  background-position-y: -35px;
  height: 254px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.sellSetup #messageBody::before {
    background-image: url("../img/eventSellSetup@2X.png");
  }
}
.popup.art.sellSetupFlee #messageBody::before {
  background: url("../img/eventSellSetupFlee.png") no-repeat;
  background-position-x: center;
  background-position-y: -35px;
  height: 264px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.sellSetupFlee #messageBody::before {
    background-image: url("../img/eventSellSetupFlee@2X.png");
  }
}
.popup.art.sellSetupSurrender #messageBody::before {
  background: url("../img/eventBuySetupSurrender.png") no-repeat;
  background-position-x: center;
  height: 254px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.sellSetupSurrender #messageBody::before {
    background-image: url("../img/eventBuySetupSurrender@2X.png");
  }
}
.popup.art.loanReminder #messageBody::before {
  background: url("../img/eventLoanReminder.png") no-repeat;
  background-position-x: center;
  background-position-y: -15px;
  height: 254px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.loanReminder #messageBody::before {
    background-image: url("../img/eventLoanReminder@2X.png");
  }
}
.popup.art.loanDeadline #messageBody::before {
  background: url("../img/eventLoanDeadline.png") no-repeat;
  background-position-x: center;
  height: 254px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.loanDeadline #messageBody::before {
    background-image: url("../img/eventLoanDeadline@2X.png");
  }
}
.popup.art.shamrock #messageBody::before {
  background: url("../img/eventShamrock.png") no-repeat;
  background-position-x: center;
  height: 254px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .popup.art.shamrock #messageBody::before {
    background-image: url("../img/eventShamrock@2X.png");
  }
}
#landscape {
  background: var(--grey30) url(../img/bgLandscape.png) repeat-x;
  background-position: 0 calc(50% + 80px);
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-position 2s linear;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #landscape {
    background: var(--grey30) url(../img/bgLandscape@2x.png) center repeat-x;
  }
}
#transit {
  height: 100%;
  width: 100%;
  background: url(../img/bgTransit.png) center no-repeat;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 1s linear;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #transit {
    background: url(../img/bgTransit@2x.png) center no-repeat;
  }
}
/*# sourceMappingURL=./style.css.map */